* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    cursor: default;
    image-rendering: pixelated;
    user-select: none;
    touch-action: none;
}

body {
    background-color: rgb(20,20,20);
    overflow: hidden;
}

#game {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
}

#menu,
#dif,
#gameplay,
#pause,
#gameOver,
#win {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-content: center;
    display: none;
}

#mobileControl {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#menu > p,
#dif > p,
#gameOver > p,
#win > p {
    color: white;
    font-size: 10vmin;
    text-align: center;
    margin-bottom: 10vmin;
}

#gameOver > p {
    margin-bottom: 1vmin;
    animation: gameOverAnim 1.6s ease-in-out infinite;
}

#win > p {
    font-size: 12vmin;
    animation: winAnim 1.6s ease-in-out infinite;
}

@keyframes gameOverAnim {

    0% { color: white; }
    50% { color: rgb(200,0,0); }
    100% { color: white; }
}

@keyframes winAnim {

    0% { color: white; }
    50% { color: rgb(200,150,0); }
    100% { color: white; }
}

#start,
#easy,
#medium,
#hard,
.restart {
    color: white;
    font-size: 5vmin;
    background: none;
    border: 0.4vmin solid white;
    padding: 2vmin;
}

#easy,
#medium,
#hard {
    width: 24vmin;
    margin-bottom: 2vmin;
}

#start:hover,
#easy:hover,
#medium:hover,
#hard:hover,
.restart:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

#gameArea {
    position: relative;
    width: 70vmin;
    height: 80vmin;
    border: 1vmin solid white;
}

#score,
#highscore {
    position: relative;
    float: left;
    color: white;
    font-size: 3.6vmin;
    align-content: center;
    text-align: start;
    width: 33vmin;
    height: 10vmin;
    margin-left: 2vmin;
}

#canvas {
    position: relative;
    float: left;
    width: 100%;
}

#scored,
#maxscored {
    color: white;
    font-size: 3vmin;
    align-content: center;
    text-align: center;
}

#maxscored {
    margin-top: 1vmin;
    margin-bottom: 10vmin;
}

#canvas {
    aspect-ratio: 1/1;
    border-top: 0.2vmin solid white;
}

#pause {
    color: white;
    font-size: 12vmin;
    text-shadow: -1vmin 1vmin 2vmin black;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(6px);
}
